<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Seoul Map</title>
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>
</head>
<body>
    <div id="map" style="height: 600px;"></div>

    <script>
        var map = L.map('map').setView([37.5665, 126.9780], 11);

        L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
            attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
        }).addTo(map);

        axios.get('/get_traffic_data')
            .then(function (response) {
                var trafficData = response.data;

                trafficData.forEach(function (data) {
                    var marker = L.marker([data.lat, data.lng]).addTo(map);
                    marker.bindPopup(
                        `<b>${data.gu}</b><br>
                        Traffic: ${data.traffic}`
                    );
                });
            })
            .catch(function (error) {
                console.error('Error fetching traffic data:', error);
            });
    </script>
</body>
</html>

